{% extends '_base.html' %}
{% block content %}
    <main role="main">
        <!-- main content starts here -->
        <div class="top-section top-section--purple">
            <div class="row">
              <div class="medium-12 column">
                <h1 class="main-text">Collective Intelligence Conference 2017</h1>
                <p class="top-section__tagline">The 5th Edition of the Collective Intelligence Conference</p>
              </div>
            </div>
        </div>
        <div class="page-section">
          <div class="row">
            <div class="medium-12 medium-centered column">
              <h4>BACKGROUND</h4>
            <p>Collective Intelligence is an annual  interdisciplinary conference that brings together researchers from the academy, businesses, nonprofits, governments and the world at large to share insights and ideas from a variety of fields relevant to understanding and designing collective intelligence in its many forms. 
            </p>
            <p>
            The conference seeks papers about behavior that is both collective (spanning groups of individual actors, including people, computational agents, and organizations) and intelligent (the collective behavior of the group exhibits characteristics such as perception, learning, judgment, or problem solving).
            </p>
            </div>
          </div>
        </div>
        <div class="page-section">
          <div class="row">
            <div class="medium-12 medium-centered column">
              <h4>DESCRIPTION</h4>
              <p>Collective Intelligence is an annual  interdisciplinary conference that brings together researchers from the academy, businesses, nonprofits, governments and the world at large to share insights and ideas from a variety of fields relevant to understanding and designing collective intelligence in its many forms. </br>
              The conference seeks papers about behavior that is both collective (spanning groups of individual actors, including people, computational agents, and organizations) and intelligent (the collective behavior of the group exhibits characteristics such as perception, learning, judgment, or problem solving).
          </p>
            </div>
          </div>
        </div>

    </main>
{% endblock %}