{% extends '_base.html' %}
{% block content %}
    <main role="main">
        <!-- main content starts here -->
        <div class="top-section top-section--purple">
            <div class="row">
              <div class="medium-12 column">
                <h1>Pattern Library</h1>
                <p class="top-section__tagline">Welcome to the GovLab Web Design Standards! Here, you'll find our UI components and visual styles to create beautiful, consistent experiences across our websites.</p>
                <a href="#" class="button">Download Code <i class="material-icons">file_download</i></a>
              </div>
            </div>
        </div>

        <div class="page-section">
          <div class="row">
            <div class="column large-12">
              <a href="./base-elements.html" class="button">Base Elements</a>
              <a href="./form.html" class="button">Form</a>
              <a href="./components.html" class="button">Base Components</a>
              <a href="./cards.html" class="button">Cards</a>
              <a href="./sections.html" class="button">Sections</a>
              <a href="./special-components.html" class="button">Special Components</a>
              <a href="./sandbox.html" class="button">Sandbox</a>
            </div>
          </div>
          
        </div>
        <section class="divider">
      <h1>Colors</h1>
    </section>

    <section class="page-section">
      <div class="row">
        <div class="column large-3 medium-3 small-6">
          <article class="card-1 card-1--purple">
            <div class="card-1__content">
              <h1>$purple</h1>
              <h2>#523080</h2>
            </div>
          </article>
        </div>
        <div class="column large-3 medium-3 small-6">
          <article class="card-1 card-1--orange">
            <div class="card-1__content">
              <h1>$orange</h1>
              <h2>#ee5b43</h2>
            </div>
          </article>
        </div>
        <div class="column large-3 medium-3 small-6">
          <article class="card-1 card-1--teal">
            <div class="card-1__content">
              <h1>$teal</h1>
              <h2>#008895</h2>
            </div>
          </article>
        </div>
        <div class="column large-3 medium-3 small-6">
          <article class="card-1 card-1--blue">
            <div class="card-1__content">
              <h1>$blue</h1>
              <h2>#008ab3</h2>
            </div>
          </article>
        </div>
        <div class="column large-3 medium-3 small-6">
          <article class="card-1 card-1--black">
            <div class="card-1__content">
              <h1>$black</h1>
              <h2>#333333</h2>
            </div>
          </article>
        </div>
        <div class="column large-3 medium-3 small-6">
          <article class="card-1 card-1--green">
            <div class="card-1__content">
              <h1>$green</h1>
              <h2>#197d32</h2>
            </div>
          </article>
        </div>
        <div class="column large-3 medium-3 small-6">
          <article class="card-1 card-1--red">
            <div class="card-1__content">
              <h1>$red</h1>
              <h2>#c30014</h2>
            </div>
          </article>
        </div>
      </div>
    </section>
    </main>
{% endblock %}