{% extends '_base.html' %}
{% block content %}

  <main role="main">
    <!-- main content starts here -->
    <div class="top-section top-section--main-color">
        <h1>Collective Intelligence</h1>
        <h3>NYU Tandon School of Engineering<br/>June 15-16, 2017</h3>
        <div class="main-buttons main-buttons__index">
            <a href="https://www.eventbrite.com/e/collective-intelligence-conference-2017-tickets-29760232657" class="button button--accent">REGISTER NOW</a>
        </div>
    </div>
    <div class="divider divider--accent-color">
        <h4>The 5th Edition of the Collective Intelligence Conference</h4>
    </div>
    <div class="page-section">
    <div class="row">
        <div class="column large-10 large-offset-1">
          <h6>CI is the fifth annual interdisciplinary conference dedicated to advancing our understanding of collective intelligence and the workings of groups. <a class="page-section__link" href="./logistics.html">The conference will take place at New York University’s Tandon School of Engineering on June 15-16, 2017.</a></h6>
        </div>
        <div class="column large-6 medium-12 small-12">
          <p>Collective Intelligence 2017 will emphasize research in service of the public good and projects that address societal problems. Together we will explore the impact of Internet technology and big data on the ways in which people come together to communicate and combine knowledge and skills. Coming from myriad disciplines and fields, conference participants share how connecting groups of people, information, and machines can lead to more intelligent behavior and more effective problem solving.</p>
        </div>
        <div class="column large-6 medium-12 small-12">
          <p>The event brings together researchers from academia, businesses, non-profits, governments and the world at large to share insights, ideas, and experiences and to collaborate on the design of better approaches for fostering the use of collective intelligence. This year’s conference will place special emphasis on public interest applications of collective intelligence, namely the role of groups and collective intelligence in governing and in solving societal challenges.</p>
        </div>
        <div class="column large-12 medium-12 small-12">
          <h5>To receive updates about the Collective Intelligence Conference 2017:</h5>
          <ul>
            <li>Contact us at <a class="page-section__link" href="https://collectiveintelligence@thegovlab.org">collectiveintelligence@thegovlab.org</a></li>
            <li>Follow us on Twitter <a class="page-section__link" href="https://twitter.com/@cicon17">@cicon17</a></li>
          </ul>
        </div>
        <div class="column large-12 medium-12 small-12">
          <h5>Please check out prior programs and proceedings to learn more about the Collective Intelligence conference and academic community:</h5>
          <ul>
            <li>
              <a class="page-section__link" href="http://www.ci2012.org/">Collective Intelligence Conference Program, MIT, 2012</a>
            </li>
            <li>
              <a class="page-section__link" href="http://collective.mech.northwestern.edu/?page_id=22">Collective Intelligence Conference Program, MIT, 2014</a>
            </li>
            <li>
              <a class="page-section__link" href="https://sites.lsa.umich.edu/collectiveintelligence/schedule/">Collective Intelligence Conference Program, Santa Clara, 2015</a>
            </li>
            <li>
              <a class="page-section__link" href="https://sites.google.com/a/stern.nyu.edu/collective-intelligence-conference/call-for-papers">Collective Intelligence Conference Program, Stern, 2016</a>
            </li>
          </ul>
        </div>
    </div>
    </div>
    <div class="divider divider--main-color">
        <h1>Topics</h1>
    </div>
    <div class="page-section">
          <div class="row expanded">
            <div class="medium-10 medium-offset-1 small-12 column">
              <h5>Topics of interest include but are not limited to:</h5>
              <div class="page-section__topics">
              <table>
                <colgroup>
                    <col style="width:33%" />
                    <col style="width:33%" />
                    <col style="width:33%" />
                </colgroup>
                <tbody>
                  <tr>
                    <td>
                      Citizen engagement and participation
                    </td>
                    <td>
                      Crowdsourcing widely <br>(e.g. mass-based engagement)
                    </td>
                    <td>
                      Crowdsourcing wisely <br>(e.g. curated engagement)
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Collaborative problem solving
                    </td>
                    <td>
                      New technologies for making groups smarter
                    </td>
                    <td>
                      Incentives and social-behavioral <br>insights and groups
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Institutional design and governance <br>(e.g. how institutions make use of networks)
                    </td>
                    <td>
                      Firms and networks
                    </td>
                    <td>
                      Public policy and law reform <br>(e.g. legal frameworks for groups)
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Human computer interaction and groups
                    </td>
                    <td>
                      Human computation
                    </td>
                    <td>
                      Social computing
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Crowdfunding
                    </td>
                    <td>
                      Wisdom of crowds <br>(e.g., prediction markets)
                    </td>
                    <td>
                      Group memory and extended cognition
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Collective decision making <br>and problem-solving
                    </td>
                    <td>
                      Participatory and deliberative democracy
                    </td>
                    <td>
                      Organizational design and strategy
                    </td>
                  </tr>
                  <tr>
                    <td>
                      Ethics of collective intelligence <br>(e.g., "digital sweatshops")
                    </td>
                    <td>
                      Computational models of group search and optimization
                    </td>
                    <td>
                      Emergence and evolution of intelligence
                    </td>
                  </tr>
                </tbody>
              </table>
              </div>
              <br>
            </div>
          </div>
        </div>
        <div class="divider divider--main-color">
          <h1>Submissions</h1>
        </div>
        <div class="page-section">
        <div class="row">
          <div class="column large-12">
            <h5>Submissions of two types are invited:</h5>
            <ol class="page-section__list">
                <li>Reports of Original Results</li>
                <li>Demonstrations of Tools/Technology/Experiments</li>
            </ol>
            <a href="./submissions.html" class="page-section__link">Learn more about the submissions process</a>
            <h5>Important Dates:</h5>
            <div class="b-timeline">
                <div class="e-timeline-graphic">
                  <div class="e-timebox"></div>
                  <div class="e-timebox"></div>
                  <div class="e-timebox m-current"></div>
                  <div class="e-timebox"></div>
                  <div class="e-timebox"></div>
                  <div class="e-timebox"></div>
                  <div class="e-timebox"></div>
                  <div class="e-timebox"></div>
                </div>
                <div class="e-event">
                  <time datetime="2016-10-20">October 20, 2016</time>
                  <span class="e-description">Call for Abstracts</span>
                </div>
                <div class="e-event">
                  <time datetime="2016-12-01">December 1, 2016</time>
                  <span class="e-description">Submission for Abstracts Opens</span>
                </div>
                <div class="e-event">
                  <time datetime="2016-12-05">December 5, 2016</time>
                  <span class="e-description">Registration Opens</span>
                </div>
                <div class="e-event">
                  <time datetime="2017-02-01"> February 8, 2017</time>
                  <span class="e-description">Abstract Submission Deadline</span>
                </div>
                <div class="e-event">
                  <time datetime="2017-03-15">March 15, 2017</time>
                  <span class="e-description">Program Announcement</span>
                </div>
                <div class="e-event">
                  <time datetime="2017-04-04">April 4, 2017</time>
                  <span class="e-description">Early Bird Registration Ends</span>
                </div>
                <div class="e-event">
                  <time datetime="2017-06-08">June 8, 2017</time>
                  <span class="e-description">Regular Registration Ends</span>
                </div>
                <div class="e-event">
                  <time datetime="2017-06-15">June 15-16, 2017</time>
                  <span class="e-description">Collective Intelligence 2017</span>
                </div>
              </div>
              <div class="b-timeline-list m-show">
                <div class="e-event">
                  <time datetime="2016-10-20">October 20, 2016</time>
                  <span class="e-description">Call for Abstracts</span>
                </div>
                <div class="e-event">
                  <time datetime="2016-12-01">December 1, 2016</time>
                  <span class="e-description">Submission for Abstracts Opens</span>
                </div>
                <div class="e-event m-current">
                  <time datetime="2016-12-05">December 5, 2016</time>
                  <span class="e-description">Registration Opens</span>
                </div>
                <div class="e-event">
                  <time datetime="2017-02-01"> February 8, 2017</time>
                  <span class="e-description">Abstract Submission Deadline</span>
                </div>
                <div class="e-event">
                  <time datetime="2017-03-15">March 15, 2017</time>
                  <span class="e-description">Program Announcement</span>
                </div>
                <div class="e-event">
                  <time datetime="2017-04-04">April 4, 2017</time>
                  <span class="e-description">Early Bird Registration Ends</span>
                </div>
                <div class="e-event">
                  <time datetime="2017-06-08">June 8, 2017</time>
                  <span class="e-description">Regular Registration Ends</span>
                </div>
                <div class="e-event">
                  <time datetime="2017-06-15">June 15-16, 2017</time>
                  <span class="e-description">Collective Intelligence 2017</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="divider divider--main-color">
          <h1>Program committee</h1>
        </div>
        <div class="page-section">
          <div class="row">
            <div class="column large-6 medium-6 small-12">
              <p><b>Beth Simone Noveck</b>, <a class="page-section__link--team" target="_blank" href="http://www.thegovlab.org/beth-noveck.html">NYU/The GovLab</a><br>
              Conference Chair</p>
              <p><b>Michael Bernstein</b>, <a class="page-section__link--team" target="_blank" href="http://hci.stanford.edu/msb/">Stanford University</a><br>
              Program Chair</p>
              <p><b>Erik Johnston</b>, <a class="page-section__link--team" target="_blank" href="https://policyinformatics.asu.edu/content/erik-johnston">Arizona State University</a><br>
              Program Chair</p>
              <p><b>Sabine Brunswicker</b>, <a class="page-section__link--team" target="_blank" href="https://www.purdue.edu/opendigital/about/sabine/">Purdue University</a></p>
              <p><b>Cesar Hidalgo</b>, <a class="page-section__link--team" target="_blank" href="https://www.media.mit.edu/people/hidalgo">Massachusetts Institute of Technology</a></p>
              <p><b>Ece Kamar</b>, <a class="page-section__link--team" target="_blank" href="http://research.microsoft.com/en-us/um/people/eckamar/">Microsoft</a></p>
              <p><b>Erin Krupka</b>, <a class="page-section__link--team" target="_blank" href="https://www.si.umich.edu/people/erin-krupka">University of Michigan</a></p>
              <p><b>Walter Lasecki</b>, <a class="page-section__link--team" target="_blank" href="https://www.si.umich.edu/people/walter-lasecki">University of Michigan</a></p>
            </div>
            <div class="column large-6 medium-6 small-12">
              <p><b>Matt Lease</b>, <a class="page-section__link--team" target="_blank" href="https://www.ischool.utexas.edu/~ml/">University of Texas, Austin</a></p>
              <p><b>Kurt Luther</b>, <a class="page-section__link--team" target="_blank" href="https://www.cs.vt.edu/user/282">Virginia Tech</a></p>
              <p><b>Winter Mason</b>, <a class="page-section__link--team" target="_blank" href="https://research.fb.com/people/mason-winter/">Facebook</a></p>
              <p><b>Anita McGahan</b>, <a class="page-section__link--team" target="_blank" href="https://www.rotman.utoronto.ca/FacultyAndResearch/Faculty/FacultyBios/McGahan.aspx">University of Toronto, Rotman</a></p>
              <p><b>Geoff Mulgan</b>, <a class="page-section__link--team" target="_blank" href="https://www.nesta.org.uk/users/geoff-mulgan">Nesta</a></p>
              <p><b>Aaron Shaw</b>, <a class="page-section__link--team" target="_blank" href="http://sonic.northwestern.edu/people/affiliated-faculty/aaron-shaw/">Northwestern University</a></p>
              <p><b>Kate Starbird</b>, <a class="page-section__link--team" target="_blank" href="http://www.hcde.washington.edu/starbird">University of Washington</a></p>
              <p><b>Lixiu Yu</b>, <a class="page-section__link--team" target="_blank" href="https://twitter.com/lisayu2013">Bosch Research</a></p>
              <p><b>Haoki Zhang</b>, <a class="page-section__link--team" target="_blank" href="http://users.eecs.northwestern.edu/~hq/">Northwestern University</a></p>
            </div>
          </div>
        </div>
      </div>
  </main>
  <!-- <div id="sticky-code">
      <div class="sticky js-target-sticky js-active">
          <div class="row">
              <div class="column small-12">
                  <i class="material-icons sticky__close js-close-sticky">close</i>
                  <h3 class="sticky__title">Deadline for submission of abstracts, February 8, 2017!</h3>
                  <p>To submit an abstract, <a href="http://collectiveintelligenceconference.org/submissions.html"><em>click here</em></a>.</p>
              </div>
          </div>
      </div>
  </div> -->

{% endblock %}
