{% extends '_base.html' %}
{% block content %}
    <main role="main">
        <!-- main content starts here -->
        <div class="top-section homepage-banner">
            <div class="row align-center expanded">
              <div class="medium-12 column row">
                <h1 class="homepage-banner__main-title">
                  Submissions <br>
                  <em>Coming Soon</em>
                </h1>
                <p class="homepage-banner__tagline">The 5th Edition of the Collective Intelligence Conference</p>
              </div>
            </div>
        </div>
        <div class="page-section--gray">
          <div class="row">
            <div class="medium-12 medium-centered column">
                <h6 class="page-section__title">Instructions</h6>
                <p>All submissions should be formatted as four-page extended abstracts (up to 3 pages for content and 1 page for references).</p>
            </div>
            <div class="medium-6 column template-download">
              <a class="button instruction-links" href="https://sites.google.com/a/stern.nyu.edu/collective-intelligence-conference/ci2016-sample-latex.zip?attredirects=0" download>LaTex template</a>
            </div>
            <div class="medium-6 column template-download">
              <a class="button instruction-links" href="https://sites.google.com/a/stern.nyu.edu/collective-intelligence-conference/ci2016-sample-word.zip?attredirects=0" download>Word template</a>
            </div>
            <div class="medium-12 medium-centered column">
                <p>All submission should be converted to PDF at the time of submission. Please click here to submit your the document: <a class="instruction-links" href="https://easychair.org/conferences/?conf=ci20160">https://easychair.org/conferences/?conf=ci20160</a></p>
                <p>In order to encourage a diversity of innovative ideas from a variety of fields, submissions may refer to work that is recently published, under review elsewhere, or in preparation, and may link to up to one publicly accessible paper for the purpose of describing the work in detail. However, submissions will be evaluated solely on the submitted abstract, which must therefore comprise an entirely self-contained description of the work.</p>
                <p>After review by the Program Committee, a subset of submitted abstracts will be invited for oral presentation with additional presentation as posters and/or demos. A second subset will also be invited exclusively for presentation as posters and/or demos.</p>
                <p>Authors will not receive detailed feedback from the review process, just an accept/reject decision. The main criteria will be: 1) whether the subject matter is a good fit for the Collective Intelligence conference; 2) whether there are interesting claims made with a promise to present evidence or non-obvious arguments in support of them. The review committee will not assess the validity of the evidence or arguments.</p>
                <p>Accepted submissions will be compiled into a single report which will be made available to conference participants. We emphasize that abstracts that are distributed to conference participants are not intended to be considered archival publications or to preclude submission of the reported work to archival journals; however, we cannot guarantee that certain journals do not have policies precluding the distribution of extended abstracts. Accepted abstracts will be included as submitted (i.e., submissions should be camera-ready).</p>
                <p>If your abstract is accepted for presentation or poster session, at least one author has to commit to attending the conference.</p>
                <p>Please check out prior programs and proceedings to learn more about the Collective Intelligence conference and academic community:</p>
                <ul>
                  <li>
                    <a class="instruction-links" href="http://www.ci2012.org/program/program.pdf?attredirects=0">Collective Intelligence Conference Program, MIT, 2012</a>
                  </li>
                  <li>
                    <a class="instruction-links" href="http://collective.mech.northwestern.edu/?page_id=22">Collective Intelligence Conference Program, MIT, 2014</a>
                  </li>
                  <li>
                    <a class="instruction-links" href="https://sites.lsa.umich.edu/collectiveintelligence/schedule/">Collective Intelligence Conference Program, Santa Clara, 2015</a>
                  </li>
                  <li>
                    <a class="instruction-links" href="https://sites.google.com/a/stern.nyu.edu/collective-intelligence-conference/call-for-papers">Collective Intelligence Conference Program, Stern, 2016</a>
                  </li>
                </ul>
              </div>
                <p>You may submit your abstract beginning December 1, 2017.</p>
          </div>
        </div>


    </main>
{% endblock %}
