.copyright {
  text-align: center;
}

.top-bar {
  &--main-color {
    background-color: $main-color;
  }
}

.page-section {
   &--gray {
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &--dark-blue {
    background-color: #191b3f;
    color: #FFF;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
    // @include breakpoint($large) {
    //   padding-bottom: 2.5rem;
    //   text-align: center;
    // }
  }

  &--links {
    margin-top: 0;
    padding-bottom: 30px;
    p {
      margin-top: 0;
    }
  }
}

h6 {
  font-size: 1.5rem;
  text-align: center;
  font-weight: 100;
}

td {
  font-size: 12px !important;
  padding: 5px !important;

  @include breakpoint($large) {
    padding: 30px!important;
    font-size: 1.3rem!important;
  }
}

// .template-download {
//   text-align: center;
//
//   .button {
//       background-color: $yellow;
//       box-shadow: 1px 1px 5px rgba(black, .1);
//
//       &:hover {
//         background-color: $accent-color;
//       }
//   }
// }

.instruction-links {
  text-align: center;
  font-weight: 400;

  &:hover {
    text-decoration: none;
  }
}

.template-links {
  color: $main-color;
  font-weight: 600;
  border-bottom: 1px solid $accent-color;
  // display: inline-block;

  &:hover {
    text-decoration: none;
    border-bottom: 1px solid $yellow;
  }
}

.conference-links {
  color: $main-color;
  font-weight: 600;
  border-bottom: 1px solid $accent-color;
  &:hover {
    text-decoration: none;
    border-bottom: 1px solid $yellow;
  }
}

.update-links {
  text-decoration: none;
}

.chair-names {
  color: #18fce3;
  text-decoration: none;
}


.submission {

  .button {
    background-color: $yellow;
    text-align: center;
    font-weight: 400;
    padding: 30px;
    font-size: .8rem;
    width: 100%!important;
    margin-bottom: 10px;


    // width: 380px;
    // margin-bottom: 5px;


    box-shadow: 1px 1px 5px rgba(black, .1);
    @include breakpoint($large) {
      padding: 30px;
      font-size: 1rem;
    }
  }
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.u-transition { transition: all .4s ease; }

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}

@mixin circle {
    overflow: hidden;
    border-radius: 50%;
}

// Top bar fixes

.top-bar__logo { margin-right: -57.5px; }

.top-bar__twitter { 
  height: 50px; 
  line-height: 26px; 
  vertical-align: middle; 
  color: $white-80; 
  padding: 12px 15px 12px 15px;  
}

.top-bar__twitter:hover { color: $white; text-decoration: none; }

// Nav-menu fix
.main-menu:not(.m-active) {
  box-shadow: none;
}

.divider--accent { background-color: $accent-color; color: $gray-50; }

// ALL TEMPORARY I WILL FIX ON FRIDAY

#map { 
    margin: 0;
    padding: 0;
    height: 350px;
    margin-top: 15px;
    margin-bottom: 23px;
}

.map-legend, .wax-legend{
     @media screen and (max-width:800px)  {
      display:none;
    }  
}

.temporary-mobile-class, .leaflet-popup{
  display:none;
     @media screen and (max-width:800px)  {
      display:block;
    }  
}

.b-subway-lines {
  .e-line {
    @include circle;
    height: 24px;
    width: 24px;
    text-align: center;
    display: inline-block;
    background-color: #ccc;
    font-weight: bold;
    color: $white;
    line-height: 24px;

    &.m-red   { background-color: rgba(220, 0, 0, 1); }
    &.m-blue   { background-color: #0073ad; }
    &.m-orange   { background-color: #ef6c28; }
    &.m-yellow   { background-color: #fbde22; }
    &.m-green { background-color: rgba(0, 180, 0, 1); }
    &.m-light-green { background-color: #a0d86d; }


  }

}

ul { list-style-type: none; }
