.top-bar {
  &--main-color {
    background-color: $main-color;
  }

  &__logo { margin-right: -57.5px; }

  &__twitter {
    height: 50px;
    line-height: 26px;
    vertical-align: middle;
    color: $white-80;
    padding: 12px 15px 12px 15px;

    &:hover { color: $white; text-decoration: none; cursor: pointer; }
  }
}

.top-section {
  &--main-color {
    background-color: $main-color;
    color: $yellow;

    background-image: url("../images/bee-hive.png");
    background-size: cover;
    background-blend-mode: multiply;

    h3 { opacity: 0.8; }
  }
}

.divider {

  &--accent-color {
    background-color: $accent-color;
    color: $main-color;
     text-align: center;
    h4{
      margin-bottom: 0;
      text-transform: capitalize;
    }
  }
  &--main-color {
    background-color: $main-color;
  }
}

.page-section {
  h6 { text-transform: none; font-weight: 400; text-align: center; }

  &--dark-gray {
    background-color: #D5D5D5;
  }

  &__link {
    color: $main-color;
    font-weight: 600;
    text-decoration: none;
    border-bottom: 1px solid $accent-color;

    &:hover {
      text-decoration: none;
      border-bottom: 1px solid $yellow;
      cursor:pointer;
    }

    &--team {
      color: inherit;
      font-weight: 300;
      text-decoration:none;
      border-bottom: 1px solid $accent-color;

      &:hover {
        text-decoration: none;
        border-bottom: 1px solid $yellow;
        cursor: pointer;
      }
    }
  }
}

ul { list-style-type: none; }

.main-buttons {

  @media only screen
    and (max-device-width: 400px)
    and (-webkit-min-device-pixel-ratio: 2) {
      .button {
        width: 46%;
      }
  }



  .button {
    margin: 0 5px;
    box-shadow: 2px 2px 10px rgba(black, .1);

    &--accent {background-color: $accent-color; color: $main-color; font-weight: 600; }

    &--accent:hover { background-color: darken($accent-color, 8); }
  }

  &__submit {
    @media only screen
    and (max-device-width: 1200px)
    and (-webkit-min-device-pixel-ratio: 2) {
        width: 75%;
    }
    text-align: center;
    margin-bottom: -55px;
    position: relative;
    z-index: 1;
  }
}
