.copyright {
  &__links {
    
    color: red;
  }
}

.top-bar {
  &--main-color {
    background-color: $main-color;
  }
}

.page-section {
   &--gray {
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &--dark-blue {
    background-color: #191b3f;
    color: #FFF;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  &__title {
    text-align: center;
    font-size: 1.5rem;
  }
}

.template-download {
  text-align: center;

  .button {
      background-color: $yellow;
      box-shadow: 1px 1px 5px rgba(black, .1);

      &:hover {
        background-color: $accent-color;
      }
  }
}

.instruction-links {
  text-align: center;
  font-weight: 400;

  &:hover {
    text-decoration: underline;
  }
}

.chair-names {
  color: #18fce3;
  text-decoration: none;
}


.submission {


  .button {
    background-color: $yellow;
    text-align: center;
    font-weight: 400;
    padding: 30px;
    box-shadow: 1px 1px 5px rgba(black, .1);
  }
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.u-transition { transition: all .4s ease; }

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}
