.b-timeline-list {
  display: block;
  margin-bottom: 40px;
  .e-event {
    padding: 20px;
    &:nth-child(odd) {
      background-color: rgba(0, 0, 0, 0.05);
    }
    &:nth-child(even) {
      background-color: rgba(0, 0, 0, 0.1);
    }
    &.m-current {
      background-color: #18fce3;
    }
  }
  &.m-blue .e-event.m-current {
    background-color: #8caeeb;
  }
}

@media screen and (min-width: 37.5625em) {
  .b-timeline-list {
    display: none;
  }
}

.b-timeline {
  display: none;
  padding-left: 5px;
  margin-bottom: 40px;
  .e-event {
    display: relative;
    margin-left: -5px;
    padding-left: 5px;
    padding-right: 5px;
    display: inline-block;
    width: 20%;
    vertical-align: top;
    border-left: solid 2px rgba(0, 0, 0, 0.4);
    &.m-current {
      border-left: solid 2px #18fce3;
    }
    .e-description, time {
      display: block;
    }
  }
  &.m-blue .e-event.m-current {
    border-left: solid 2px #8caeeb;
  }
  .e-timeline-graphic {
    overflow: hidden;
    margin-left: -5px;
    padding-left: 5px;
    .e-timebox {
      position: relative;
      height: 40px;
      padding: 0;
      display: inline-block;
      width: 20%;
      margin-left: -5px;
      &::before, &::after {
        content: " ";
      }
      &::before {
        position: absolute;
        width: 0;
        height: 0;
        left: 2;
        top: 12;
        border-right: 22px solid transparent;
        border-bottom: 22px solid transparent;
        border-top: 22px solid #FDFBED;
        border-left: 22px solid #FDFBED;
      }
      &::after {
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        top: 10;
        border-right: 20px solid transparent;
        border-bottom: 20px solid transparent;
      }
      &:nth-child(1) {
        background-color: rgba(0, 0, 0, 0.05);
      }
      &:nth-child(2) {
        background-color: rgba(0, 0, 0, 0.1);
      }
      &:nth-child(3) {
        background-color: rgba(0, 0, 0, 0.2);
      }
      &:nth-child(4) {
        background-color: rgba(0, 0, 0, 0.3);
      }
      &:nth-child(5) {
        background-color: rgba(0, 0, 0, 0.4);
      }
      &:nth-child(1)::after {
        border-left: 20px solid #FDFBED;
        border-top: 20px solid #FDFBED;
      }
      &:nth-child(2)::after {
        border-left: 20px solid rgba(0, 0, 0, 0.05);
        border-top: 20px solid rgba(0, 0, 0, 0.05);
      }
      &:nth-child(3)::after {
        border-left: 20px solid rgba(0, 0, 0, 0.1);
        border-top: 20px solid rgba(0, 0, 0, 0.1);
      }
      &:nth-child(4)::after {
        border-left: 20px solid rgba(0, 0, 0, 0.2);
        border-top: 20px solid rgba(0, 0, 0, 0.2);
      }
      &:nth-child(5)::after {
        border-left: 20px solid rgba(0, 0, 0, 0.3);
        border-top: 20px solid rgba(0, 0, 0, 0.3);
      }
      &.m-current {
        background-color: #18fce3;
        + .e-timebox::after {
          border-left: 20px solid #18fce3;
          border-top: 20px solid #18fce3;
        }
      }
    }
  }
  &.m-blue .e-timeline-graphic .e-timebox {
    &::before {
      border-top: 22px solid #e1e5ea;
      border-left: 22px solid #e1e5ea;
    }
    &:nth-child(1)::after {
      border-left: 20px solid #e1e5ea;
      border-top: 20px solid #e1e5ea;
    }
    &.m-current {
      background-color: #8caeeb;
      + .e-timebox::after {
        border-left: 20px solid #8caeeb;
        border-top: 20px solid #8caeeb;
      }
    }
  }
}

@media screen and (min-width: 37.5625em) {
  .b-timeline {
    display: block;
  }
}
