.page-section {
  &__topics {
      tr { text-align: center; }
      td { vertical-align: middle; }

      tr:nth-child(2n) { 
        td:nth-child(1), td:nth-child(3) { background-color: #D5D5D5; }
      }

      tr:nth-child(2n+1) { 
        td:nth-child(2) {background-color: #D5D5D5; }
        td:nth-child(1), td:nth-child(3) { background-color: #F2F2F2; }
      }
  }
}