@import '../../node_modules/govlab-styleguide-2/source/sass/styleguide.scss';
@import 'timeline';

$main-color: #389482;
$accent-color: orange;

.tagline {
  text-align: center;
  margin: 0 auto;
  color: #18fce3;
}

.page-section {
   &--gray {
    background-color: #f2f2f2;
    padding-top: 30px;
    padding-bottom: 30px;
 }
}

.page-section {
  &--dark-blue {
    background-color: #191b3f;
    color: #FFF;
    padding-top: 30px;
    padding-bottom: 30px;
  }
}

.main-text {
  font-size: 3.2em!important;
}

.collective-banner {
  .banner-text {
    font-size: 1.4em;
    font-style: italic;
    padding: 20px;
  }
}

.instruction-links {
  color: #191b3f;
  text-decoration: underline;
}

.chair-names {
  color: #18fce3;
}

/*.background-selection {

 &--gray {
  background-color: #f2f2f2;
 }
}*/

.titles {
  margin-top: 10px;
  margin-bottom: 10px;
}

.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

.u-transition { transition: all .4s ease; }

@mixin placeholder {
  &::-webkit-input-placeholder { @content }
  &:-moz-placeholder { @content }
  &::-moz-placeholder { @content }
  &:-ms-input-placeholder { @content }
}
