.program-table {
  &__time {
    font-weight: 600;
    background-color: transparent !important;
    vertical-align: center;
    padding-right: 10px;
    @include breakpoint($touch) {
      padding: 0 !important;
      border-bottom: 1px solid rgba(black, 0.2) !important;
    }
  }
  &__item {
    padding: 10px;
    &--title {
      font-weight: 600;
      text-transform: uppercase;
    }
    &--description {
      ul { 
        padding: 0; 
        li {
          padding-bottom: 1rem;
          a {
            color: $main-color;
            text-decoration: underline; 
            &:hover {
              color: lighten($main-color, 20%);
            }
          }
        }
      }
    }
    &--speaker { padding: 0; margin: 0;}
  }
  .program-table__item--container {
  padding-left: 5% !important;
  }
  .row:nth-child(even) {
    .program-table__item--container {
      background-color: rgba(black,0.05);
    }
  }
}