.speaker {
  &__container {
    border-bottom: 1px rgba(black, .1) solid;
  }
  &__image {
    border-radius: 50%;
    height: 220px;
    width: 220px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0 auto;
    margin-top: 30px;
    &--program {
      height: 25px;
      width: 25px;
      margin-top: 0;
    }
  }
  &__bio {
    h3 {
      font-weight: 600;
      font-size: 1.4rem;
      margin-bottom: -5px;
      @include breakpoint($touch) {
        text-align: center;
      }
    }

    h5 {
      font-weight: 600;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 10px;
      font-size: 18px;
      margin-top: 0;
      margin-bottom: 0;
      padding: 0;
      @include breakpoint($touch) {
        text-align: center;
      }
    }

    h6 {
      font-weight: 500;
      text-transform: uppercase;
      color: rgba(0, 0, 0, 0.5);
      margin-bottom: 10px;
      font-size: 18px;
      margin-top: -2px;
      margin-bottom: 5px;

      @include breakpoint($touch) {
        text-align: center;
      }
    }

    p {
      @include breakpoint($small-only) {
        text-align: left;
      }
      color: rgba(0, 0, 0, 0.8);
      margin: 0;
      margin-bottom: 30px;
      font-size: 18px;
    }

    a {
      color: #191b3f;
      font-weight: 600;
      text-decoration: none;
      border-bottom: 1px solid $accent-color;
      &:hover {
        border-bottom: 1px solid $yellow;
      }
    }
  }
}

.speakers-header {
  padding-bottom: 30px;
}
