// @import '../../node_modules/govlab-styleguide-2/source/sass/styleguide.scss';

// $main-color: #191b3f;
// $accent-color: #18fce3;
// $yellow: #ffd300;

// @import 'custom';
// @import 'timeline';
// @import 'topics';
// @import 'logistics';
// @import 'footer';

// Transition
.u-transition { transition: all .4s ease; }

// Nav-menu fix
.main-menu:not(.m-active) {
  box-shadow: none;
}

// Material icons
.u-material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}


// Clearfix
.clearfix:after {
   content: " "; /* Older browser do not support empty content */
   visibility: hidden;
   display: block;
   height: 0;
   clear: both;
}

// .accordion p {color: black !important;}