<footer class='footer'>
  <div class="row expanded">
    <div class="footer--darken"></div>
  </div>
  <div class="row">
    <div class="column">
      <div class="footer__icons">

        <a class="footer__partner-logo" href="http://thegovlab.org" target="_blank"><img src="{{site.url}}{{site.baseurl}}/images/govlab-logo-white.png" alt="The Governance Lab"></a>
        <a class="footer__partner-logo" href="http://engineering.nyu.edu/tandon" target="_blank"><img src="{{site.url}}{{site.baseurl}}/images/partners/nyu.png" alt="NYU Tandon School of Engineering - New York University"></a>
      </div>
    </div>
  </div>

</footer>
