{% assign schedule = include.schedule %}

<div class="page-section">
  <section class="program-table">
  {% for session_group in schedule %}
    {% assign session_time = session_group.items | first %}
    {% assign start_time = session_time.sessionStart | date: "%l:%M %p" %}
    {% assign end_time = session_time.sessionEnd | date: "%l:%M %p" %}

    <div class="row expanded collapse">
      <div class="column large-2 small-12">
        <div class="program-table__time"><p>{{ start_time }} &mdash; {{ end_time }}</p></div>
      </div>
    {% assign group_size = session_group.items | size %}
    {% if group_size == 1 %}
      {% for session in session_group.items %}

      <!-- details_size -->
      {% assign details = "" | split: "" | push: session.sessionLocation | push: session.sessionDescription  %}
      {% if session.sessionSpeakers %}
      {%for speaker in session.sessionSpeakers %}
        {% assign details = details | push: speaker %}
      {%endfor%}
      {% endif %}
      {%assign details_size = details | join: " "| replace: " ","" | size%}


        <div class="column large-10 small-12 program-table__item--container">
          <div class="program-table__item{%if details_size == 0%}--empty{%endif%} js-open-details {% if session.sessionSpeakers != [] %}
            js-active open
          {% endif %}">
            <p class="program-table__item--title">{{session.sessionName}}</p>
            <div class="program-table__item--details {% if session.sessionSpeakers != [] %}
              js-active
            {% endif %}">
              {% if session.sessionLocation %}
                <p class="program-table__item--location">Location: {{session.sessionLocation}}</p>
              {%endif%}
              <div class="program-table__item--description">
                {{session.sessionDescription | markdownify }}
              </div>

              {% if session.sessionSpeakers %}
                {% for speaker in session.sessionSpeakers%}
                  {% assign speakerDisplay = "" | split:""%}
                  {% if speaker.professionalTitle %}{% assign speakerDisplay = speakerDisplay | push: speaker.professionalTitle%}{%endif%}
                  {% if speaker.affiliation%}{% assign speakerDisplay = speakerDisplay | push: speaker.affiliation %}{%endif%}

                  <div class="row">
                    <div class="column large-1">
                      <a href="{{site.url}}{{site.baseurl}}/speakers.html#{{ speaker.firstName | slugify }}-{{speaker.lastName | slugify}}">
                        <div class="speaker__image speaker__image--program" style="background-image: url('{{speaker.image.url}}')"></div>
                      </a>
                    </div>
                    <div class="column">
                      <p class="program-table__item--speaker"><a class="page-section__link" href="{{site.url}}{{site.baseurl}}/speakers.html#{{ speaker.firstName | slugify }}-{{speaker.lastName | slugify}}"><b>{{ speaker.firstName }} {{ speaker.lastName }}</b></a>, {{speakerDisplay | join: ", " }}</p>
                    </div>
                  </div>
                {%endfor%}
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    {% endif %}
    {% if group_size == 2 %}
    {% assign sessions = session_group.items | sort: "sessionName" %}


<div class="column large-10 small-12 program-table__item--container">
  <div class="program-table__item js-open-details {% if session.sessionSpeakers != [] %}
    js-active open
  {% endif %}">
    <div class="row expanded">
        {% for session in sessions %}
          <div class="column large-6 small-12">
            <div class="program-table__item--parallel">
              <p class="program-table__item--title  parallel">{{session.sessionName}}</p>
              <div class="program-table__item--details parallel">
                {% if session.sessionLocation %}
                <p class="program-table__item--location">Location: {{session.sessionLocation}}</p>
                {% endif %}
                <div class="program-table__item--description">{{session.sessionDescription | markdownify }}
                </div>
                {% if session.sessionSpeakers %}
                  {% for speaker in session.sessionSpeakers%}
                    {% assign speakerDisplay = "" | split:"" | push: speaker.name %}
                    {% if speaker.professionalTitle %}{% assign speakerDisplay = speakerDisplay | push: speaker.professionalTitle%}{%endif%}
                    {% if speaker.affiliation%}{% assign speakerDisplay = speakerDisplay | push: speaker.affiliation %}{%endif%}
                    <p class="program-table__item--speaker">{{speakerDisplay | join: ", " }}</p>
                  {%endfor%}
                {% endif %}
              </div>
            </div>
          </div>
        {% endfor %}
    </div>
  </div>
</div>

    {% endif %}
    </div>
  {% endfor %}
  </section>
</div>

<p class="program-table__item--title break" style="display: none;"></p>
