<header class="top-bar">
    <span class="top-bar__button js-trigger-menu">menu</span>
    <nav class="main-menu js-target-menu main-menu--left">
      <a href="{{site.url}}{{site.baseurl}}/base-elements.html">Base Elements</a>
      <a href="{{site.url}}{{site.baseurl}}/form.html">Form</a>
      <a href="{{site.url}}{{site.baseurl}}/sections.html">Sections</a>
      <a href="{{site.url}}{{site.baseurl}}/components.html">Base Components</a>
      <a href="{{site.url}}{{site.baseurl}}/special-components.html">Special Components</a>
    </nav>
    <a class="top-bar__logo" href="{{site.url}}{{site.baseurl}}"><img src="{{site.url}}{{site.baseurl}}/images/govlab-logo-white.png" alt="The GovLab"></a>
    <span class="top-bar__button js-trigger-menu">more_vert</span>
    <nav class="main-menu js-target-menu main-menu--right">
      <a href="#">Github Repository</a>
      <a href="{{site.url}}{{site.baseurl}}/sandbox.html">Sandbox</a>
    </nav>
  </header>