<header class="top-bar top-bar--main-color">
    <span class="top-bar__button js-trigger-menu">menu</span>
    <nav class="main-menu js-target-menu main-menu--left">
        <a href="{{site.url}}{{site.baseurl}}/index.html">Home</a>
        <a href="{{site.url}}{{site.baseurl}}/logistics.html">Logistics</a>
        <a href="{{site.url}}{{site.baseurl}}/submissions.html">Submissions</a>
    </nav>
    <a class="top-bar__logo" href="#"><img src="images/govlab-logo-white.png" alt="The GovLab"></a>
    <a class="top-bar__twitter" href="https://twitter.com/@cicon17">@cicon17 <i class="fa fa-twitter" aria-hidden="true"></i></a>
</header>
