---
layout: default
---



{% assign day_one = site.data.contentful.spaces.conference.session | where: "sessionDay", "Day One" | sort: "sessionStart"%}

{% assign day_two = site.data.contentful.spaces.conference.session | where: "sessionDay", "Day Two" | sort: "sessionStart"%}

{% assign day_one_schedule = day_one | group_by:"sessionStart" %}
{% assign day_two_schedule = day_two | group_by:"sessionStart" %}


<main role="main">
    <!-- main content starts here -->
  <div class="top-section top-section--main-color">
      <h1>Program</h1>
      <h3>(Tentative)</h3>
  </div>

  <div class="divider divider--accent-color"">
    <h4>Day One</h4>
    <h5>Date: June 15, 2017</h5>
  </div>
  
  {% include program_layout.html schedule=day_one_schedule%}

  <div class="divider divider--accent-color"">
    <h4>Day Two</h4>
    <h5>June 16, 2017</h5>
  </div>
  {% include program_layout.html schedule=day_two_schedule%}


</main>