---
layout: default
---



{% assign day_one = site.data.contentful.spaces.conference.session | where: "sessionDay", "Day One" | sort: "sessionStart"%}

{% assign day_two = site.data.contentful.spaces.conference.session | where: "sessionDay", "Day Two" | sort: "sessionStart"%}

{% assign day_one_schedule = day_one | group_by:"sessionStart" %}
{% assign day_two_schedule = day_two | group_by:"sessionStart" %}


<main role="main">
  <!-- main content starts here -->
  <div class="top-section top-section--main-color">
    <h1 id="pdf-title">Program</h1>
    <h3>(Tentative)</h3>
  </div>

  <div class="divider divider--accent-color">
    <h4 id="day-one">Day One</h4>
    <h5 id="day-one-date">June 15, 2017</h5>
  </div>

  {% include program_layout.html schedule=day_one_schedule%}

  <div class="divider divider--accent-color">
    <h4 id="day-two">Day Two</h4>
    <h5 id="day-two-date">June 16, 2017</h5>
  </div>
  {% include program_layout.html schedule=day_two_schedule%}

  <div class="page-section" style="text-align: center">
    <a target="_blank" href="https://drive.google.com/file/d/0B3voRoSAqLPPYXZrS1VfMmF3UEE/view?usp=sharing" class="button">Download All Abstracts</a>
    <br><br>
    <a target="_blank" href="https://drive.google.com/file/d/0B3voRoSAqLPPaVZsZFNINTk4R3M/view?usp=sharing" class="button">Download the Program</a>
<!--     <div class="button download-button">
      Download as PDF
    </div> -->
  </div>
</main>

<img id="gov-logo" src="{{site.url}}{{site.baseurl}}/images/ci-print-header.png" alt="GovLab Logo" style="display:none;">
<img id="gov-footer" src="{{site.url}}{{site.baseurl}}/images/ci-print-footer.png" alt="GovLab Footer" style="display:none;">