---
layout: default
title: Plenary Speakers | Collective Intelligence
subtitle:
---

{% assign speakers = site.data.contentful.spaces.conference.speakers | sort: "lastName" %}
{% assign speakerLists = site.data.contentful.spaces.conference.speakerLists %}

<main role="main">
  <!-- main content starts here -->
  <div class="top-section top-section--main-color">
      <h1 class="speakers-header">Speakers</h1>
  </div>
  <div class="divider divider--accent-color">
    <h4>Plenary Speakers</h4>
  </div>
  <div class="speakers">
    {% for speaker in speakers %}
      <div class="speaker__container" id="{{ speaker.firstName | slugify }}-{{speaker.lastName | slugify}}">
        <div class="row large-unstack align-center">
          <div class="large-4 medium-12 small-12 column">
            {%if speaker.image.url%}
            <div class="speaker__image" style="background-image: url('{{speaker.image.url}}')"></div>
            {%endif%}
          </div>
          <div class="large-8 medium-12 small-12 column">
            <div class="speaker__bio">
              <h3>{{speaker.firstName}} {{speaker.lastName}}</h3>
              <h5>{{speaker.professionalTitle}}</h5>
              <h6>{{speaker.affiliation}}</h6>
              {{speaker.bio | markdownify}}
            </div>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
  {% for list in speakerLists %}
  <div class="divider divider--accent-color">
    <h4>{{ list.listType }}</h4>
  </div>
  <div class="speakers-list">
    <div class="row large-unstack align-center">
    <div class="large-10 medium-10 small-12 column">
      {{ list.speakerList | markdownify }}
    </div>
    </div>
  </div>
  {% endfor %}
</main>
